<!Doctype html>
<body>
<h1><%= @user.id %>Welcome to our Book store</h1>
<p>Your Emailid :<%= @user.email %></p>
<p>To login to our Book store click-
<%= link_to "Login", @url %>
</p>
<p>Reach us for any query!</p>
</body>