<h1 >About Us</h1>
<p>Established in 1919, Oxford Bookstore is the best equipped ‘base-camp’ for journeys of the mind offering its customers the widest range of outstanding titles and consistently courteous and informed service for close to a century.  Today, with stores in major metros, India’s first of its kind tea boutique, Cha Bar, India’s only bookstore to curate multiple literary festivals like Apeejay Kolkata Literary Festival, Apeejay Bangla Sahitya Utsob and Hindi Sahitya Utsav, Oxford Bookstore offers booklovers access to the very best in publishing enhanced by a variety of events which salute books, visual & performing arts and celebrate the word.

Oxford Bookstore measures its success by the smiles on millions of happy customers that the brand has served over the last nearly 100 years. There are a few treats as sumptuous as a visit to Oxford Bookstore in India. Each time you walk into our iconic store in Kolkata where the brand started in 1919, its charm leaves you wanting for more. Our fleet of happy to help expert booksellers and informed hosts work day and night to bring to customers world class reading experience be it through our books or our fine teas and live by the brand’s motto – Much more than a bookstore – at every Bookstore.</p>\


<img width="1024" height="299" src="https://oxfordbookstore.com/wp-content/uploads/2021/05/slide2-1-1024x299-1.jpg" class="attachment-full" alt="" loading="lazy" srcset="https://oxfordbookstore.com/wp-content/uploads/2021/05/slide2-1-1024x299-1.jpg 1024w, https://oxfordbookstore.com/wp-content/uploads/2021/05/slide2-1-1024x299-1-600x175.jpg 600w, https://oxfordbookstore.com/wp-content/uploads/2021/05/slide2-1-1024x299-1-450x131.jpg 450w, https://oxfordbookstore.com/wp-content/uploads/2021/05/slide2-1-1024x299-1-768x224.jpg 768w" sizes="(max-width: 1024px) 100vw, 1024px">
<footer class="footer-distributed">

			<div class="footer-left">
          
				<h3>About<span>Book Library</span></h3>

				<p class="footer-links">
					<a href="#">Home</a>
					|
					<a href="/signup">Sign Up</a>
					|
					<a href="/login">Login</a>
					|
					<a href="contact">Contact</a>
				</p>

				<p class="footer-company-name">©️ Copyright 2016-2022, Book Library</p>
			</div>

			<div class="footer-center">
				<div>
					<i class="fa fa-map-marker"></i>
					  <p><span>201 - B wing,
						 shen john school. regency road</span>
						Dombivali East, chennai - 421201</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+91 734230900</p>
				</div>
				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@eduonix.com">booklibrary12@gmail.com</a></p>
				</div>
			</div>
			<div class="footer-right">
				<p class="footer-company-about">
					<span>About the library</span>
					Book Library takes up this responsibility to provide better ways</p>
                </div>




